{% extends 'base.html.twig' %}

{% block body %}


{% if error %}
<div class="alert alert-danger">
<ul class="list-unstyled mb-0">
<li><span class="initialism form-error-icon badge badge-danger">Error</span>
<span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
</li>
</ul>
</div>
{% endif %}
<section class="container">
<div class="row fullscreen d-flex align-items-center justify-content-center">
          {{form(form)}}
          <a href="{{path('inscrire')}}">S'Inscrire</a>
        </div>

</section>


{% endblock %}
