{% extends 'layoutadmin.html.twig' %}


    {% block content %}


  <table class="table table-striped table-hover" id="datatable3" cellspacing="0" width="100%">
                    <thead>

<th>Prenom</th>
<th>Nom</th>
<th>Telephone</th>
<th>Adresse</th>
<th>specialite</th>
<th>disponiblite</th>
<th>date</th>
<th>heures</th>



</tr>
</thead>

<tfoot>


<th>Prenom</th>
<th>Nom</th>
<th>Telephone</th>
<th>Adresse</th>
<th>specialite</th>
<th>disponiblite</th>
<th>date</th>
<th>heures</th>



</tfoot>


</table>
					

						</div>
{% endblock %}