{% extends 'layoutadmin.html.twig' %}


    {% block content %}
{% for prisederendezvous in prisederendezvous %}
<option value="{{nomcomplet.prisederendezvous}}">{{prisederendezvous.nomcomplet}}</option>

									{% endfor %}
										
{% endblock %}