{% extends 'layoutadmin.html.twig' %}


{% block content %}
<form>
<div class = "input_fields_wrap"> 
    <button class = "add_field_button" > Ajouter plus de champs </button > 
    <div> <input type = "text" name = "montexte []"> </div > 
</div>
</form>
{% endblock %}

