{% extends 'layoutaccueil.html.twig' %}
{% block body %}

<section class="banner-area relative" id="home">

				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-8 col-md-12">
							<h1>
								Nous Nous Soucions De Votre Sante A
								Chaque Moment.	
							</h1>
							<p class="pt-10 pb-10 text-white">
								Hello Docteur Le Service Qui Facilite La vie Des Malades
							</p>
							<a href="/apropos" class="primary-btn text-uppercase">Voir Plus</a>
						</div>										
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

			<!-- Start appointment Area -->
			<section class="appointment-area">			
				<div class="container">
					<div class="row justify-content-between align-items-center pb-120 appointment-wrap">
						<div class="col-lg-5 col-md-6 appointment-left">
							<h1>
								Nos Horaires
							</h1>
							<p>
							Conscient et soucieux de votre sante nous sommes ouvert tous les jours
							</p>
							<ul class="time-list">
								<li class="d-flex justify-content-between">
									<span>lundi-vendredi</span>
									<span>24h/24h</span>
								</li>
								<li class="d-flex justify-content-between">
									<span>Samedi</span>
									<span>08.00 am - 10.00 pm</span>
								</li>
								<li class="d-flex justify-content-between">
									<span>Dimanche</span>
									<span>08.00 am - 10.00 pm</span>
								</li>																
							</ul>
						</div>
						</div>
				</div>	
			</section>
            <!-- Start facilities Area -->
			<section class="facilities-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-70 col-lg-7">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Nos Services</h1>
		                        <p>Hello Docteur est une startup de conciergerie médical offrant une large gamme de services: </p>
		                    </div>
		                </div>
		            </div>
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-facilities">
								<span class="lnr lnr-calendar-full"></span>
								<a href="/rv"><h4>Prise de rendez-vous en ligne</h4></a>
								<p>
									le patient a la possiblite de prendre rendez-vous dans nos diferentes structures et le plus pres de sa position
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-facilities">
								<span class="lnr lnr-heart-pulse"></span>
								<a href="/had"><h4>H A D</h4></a>
								<p>
								Nous faisons aussi de l'hospitalisation a domicile en cas d'urgences ou permettre aux patient qui desire se soigner a domicile d'en profiter. 
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-facilities">
								<span class="lnr lnr-bug"></span>
								<a href="/livraison"><h4>Livraison De Medicamment</h4></a>
								<p>
									Dans nos services Nous faisons de la livraison de mediccament aux patients qui le desire jusqu'a votre domicile
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-facilities">
								<span class="lnr lnr-users"></span>
								<a href="vsl"><h4>V S L</h4></a>
								<p>
									location de vehicule sanitaire leger
								</p>
							</div>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End facilities Area -->
			

			<!-- Start offered-service Area -->
			<section class="offered-service-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-8 offered-left">
							<h1 class="text-white">les services que nous offrons</h1>
							<p>
	                            la medecine en ligne 
							</p>
							<div class="service-wrap row">
								<div class="col-lg-6 col-md-6">
									<div class="single-service">
										<div class="thumb">
											<img class="img-fluid" src="img/s1.jpg" alt="">		
										</div>
										<a href="#">
											<h4 class="text-white">Cardiac Treatment</h4>
										</a>	
										<p>
											inappropriate behavior Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-service">
										<div class="thumb">
											<img class="img-fluid" src="img/s2.jpg" alt="">		
										</div>
										<a href="#">
											<h4 class="text-white">Routine Checkup</h4>
										</a>	
										<p>
											inappropriate behavior Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
								</div>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="offered-right relative">
								<div class="overlay overlay-bg"></div>
								<h3 class="relative text-white">Nos Specialites</h3>
								<ul class="relative dep-list">
									<li><a href="#">Pediatrie</a></li>
									<li><a href="#">Dentiste</a></li>
									<li><a href="#">Generaliste</a></li>
									<li><a href="#">Ophthalmology</a></li>
									<li><a href="#">Cardiolofie</a></li>
									<li><a href="#">Dermatologie</a></li>
									<li><a href="#">Gynecologie</a></li>
								</ul>
								<a class="viewall-btn" href="#">Voir tous</a>			
							</div>	
						</div>
					</div>
				</div>	
			</section>
			
			{% endblock %}